
# Created by https://www.toptal.com/developers/gitignore/api/django,virtualenv,python,code
# Edit at https://www.toptal.com/developers/gitignore?templates=django,virtualenv,python,code

### Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/


# End of https://www.toptal.com/developers/gitignore/api/django,virtualenv,python,code
supplyr/settings_local.py
.vscode/launch.json
