{% extends 'email_base.html' %}


{% block title %}
  Reset Your Password
{% endblock title %}


{% block preheader %}
  Reset your password on Supplyr
{% endblock preheader %}

  

{% block content %}



{% with password_reset_url=password_reset_url_base|add:uid|add:'/'|add:token|add:'?email='|add:user.email %}




  

<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">

  <!-- start copy -->
  <tr>
    <td align="left" bgcolor="#ffffff" style="padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;">
      <p style="margin-bottom: 10;">You are receiving this e-mail because you requested a password reset for your account on Supplyr.</p>
      <p style="margin: 0;">Tap the button below to reset your password. If you didn't request this, you can safely delete this email.</p>
    </td>
  </tr>
  <!-- end copy -->

  <!-- start button -->
  <tr>
    <td align="left" bgcolor="#ffffff">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td align="center" bgcolor="#ffffff" style="padding: 12px;">
            <table border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td align="center" bgcolor="#1a82e2" style="border-radius: 6px;">
                  <a href="{{ password_reset_url }}" target="_blank" style="display: inline-block; padding: 16px 36px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; color: #ffffff; text-decoration: none; border-radius: 6px;">Confirm Email</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- end button -->

  <!-- start copy -->
  <tr>
    <td align="left" bgcolor="#ffffff" style="padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;">
      <p style="margin: 0;">If that doesn't work, copy and paste the following link in your browser:</p>
      <p style="margin: 0;"><a href="{{ password_reset_url }}" target="_blank">{{ password_reset_url }}</a></p>
    </td>
  </tr>
  <!-- end copy -->


</table>
    
{% endwith %}
{% endblock content %}
  

{% block footer %}
  You received this email because we received a request for Email Verification for your account. If you didn't request this you can safely delete this email.
{% endblock footer %}
  