<div class="p-1">
  <strong class="text-secondary">Seller Info:</strong>&nbsp;
  <br />

  <div>
    <span class="text-secondary normal">{{invoice.order.seller.business_name}}</span>

    <br />

    <span class="text-secondary normal"
      >{{invoice.order.seller.seller_addresses.first.line1}}</span
    >

    <br />

    <span class="text-secondary normal"
      >{{invoice.order.seller.seller_addresses.first.line2}}</span
    >

    <br />
    <span class="text-secondary normal"
      >{{invoice.order.seller.seller_addresses.first.city}} -
      {{invoice.order.seller.seller_addresses.first.pin_code}}</span
    >

    <br />

    <span class="text-secondary normal"
      >{{invoice.order.seller.seller_addresses.first.state.name}}</span
    >
  </div>
</div>
