{% load extras %}
<table>
    <tr>
        <th></th>	
        <th></th>	
        <th></th>	
    </tr>
    <tr>
        <td colspan="2">
            <div>
                <small>Amount Chargeable (In Words)</small>
                <br />
                <strong>- {{invoice.order.total_amount_in_text}}</strong>	
            </div>
            <br />
            <br />
            <br />
            <div>
                <small class="text-secondary fw-semibold">
                <u>DECLARATION</u>
                </small>
                <br />
                <small class="text-secondary fw-semibold">
                    We declare that this invoice shows the actual price of the
                    goods described
                </small>
                <br />
                <small class="text-secondary fw-semibold">
                    and that all particulars are true and correct.
                </small>
            </div>
        </td>	
        <td>
            <div style="text-align: right;">
                <table>
                    <tr>
                        <td style="text-align:left;">Subtotal:</td>
                        <td>{{invoice.order.subtotal|apply_seller_currency:invoice}}</td>
                    </tr>	
                    <tr>
                        <td  style="text-align:left;">Discounts:</td>
                        <td>{{invoice.order.total_extra_discount|apply_seller_currency:invoice}}</td>
                    </tr>	
                    <tr>
                        <td  style="text-align:left;">Taxable Amount:</td>
                        <td>{{invoice.order.taxable_amount|apply_seller_currency:invoice}}</td>
                    </tr>	
                    <tr>
                        <td  style="text-align:left;">Total(SGST):</td>
                        <td>{{invoice.order.sgst|apply_seller_currency:invoice}}</td>
                    </tr>	
                    <tr>
                        <td  style="text-align:left;">Total(CGST):</td>
                        <td>{{invoice.order.cgst|apply_seller_currency:invoice}} </td>
                    </tr>	
                    <tr>
                        <td  style="text-align:left;">Total(IGST):</td>
                        <td>{{invoice.order.igst|apply_seller_currency:invoice}}</td>
                    </tr>	
                    <tr>
                        <td  style="text-align:left;">Final Amount:</td>
                        <td>{{invoice.order.total_amount|apply_seller_currency:invoice}}</td>
                    </tr>	
                </table>
            </div>	

            <br>

            <div style="border:1px solid;padding: 12px 5px;">
                <small>
                    Signature & Date:
                </small>	
            </div>
        </td>	
    </tr>		
</table>

<span>؋</span>
<span>₼</span>
<span>лв</span>
<span>៛</span>
<span>¥</span>
<span>₡</span>
<span>₱</span>
<span>Kč</span>
<span>£</span>
<span>₪</span>
<span>¥</span>
<span>лв</span>
<span>₩</span>
<span>ден</span>
<span>₮</span>
<span>₦</span>
<span>₱</span>
<span>₽</span>
<span>Дин.</span>
<span>฿</span>
<span>₴</span>
<span>лв</span>
<span>₫</span>
<span>&#8377;</span>