{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Forgot Password {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent pb-2">
              <div class="text-muted text-center mt-2 mb-3"><small>Forgot Password?</small></div>
              <p class="text-center">
                Your new password must be different from previously used passwords
              </p>
            </div>
            <div class="card-body px-lg-5">
              <form method="POST">

                {% csrf_token %}

                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    {{form.new_password1}}
                  </div>
                  <div class="input-group input-group-alternative mt-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    {{form.new_password2}}
                  </div>
                </div>
                  <button type="submit" class="btn btn-primary btn-block my-4">Send Reset Link</button>
                    <a href="{% url 'login' %}" class="btn btn-link btn-block my-4"> <i class="fas fa-arrow-left mr-2"></i> Cancle</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

<script>
    const new_password1 = document.getElementById("id_new_password1")
    const new_password2 = document.getElementById("id_new_password2")
    new_password1.classList.add("form-control")
    new_password1.placeholder = "New password"
    new_password2.classList.add("form-control")
    new_password2.placeholder = "Confirm password"
</script>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
